
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    cursor: url("../cursor/normal.cur"), auto;
}

body {
    background: url("../images/game-bg.jpg") no-repeat fixed center;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.page-heading {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fafafa;
    font-size: 80px;
    font-family: "Montserrat", serif;
}

/*--------------------------------------------Game section*/

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    color: #fafafa;
    font-size: 26px;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}

.card1 {
    position: relative;
    height: 175px;
    width: 125px;
    background-color: transparent;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
}

.card1.visible .card-back {
    transform: rotateY(-180deg);
}

.card1.visible .card-front {
    transform: rotateY(0);
}

.card-front {
    transform: rotateY(180deg);
}

.front, .back {
    height: 175px;
    width: 125px;
}

.front {
    border-radius: 8px;
}
/*--------------------------------------------Footer*/

footer {
    margin-top: 100px;
    bottom: 0;
}

.contact-footer {
    margin-top: 174px;
}

footer a {
    color: #fafafa;
}

/*--------------------------------------------Contact page*/

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}


.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
}